/* ヘッダー */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C5EB7;
    height: 80px;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
}


.rogo{
    color: white;
    text-align: center;
    font-size: 24px;
    height: 40px;
    padding:10px 0px 0px 20px;
}

.nav{
 display: flex;
 list-style: none;
}

.nav-content{
    padding-right: 40px;
}

a {
    color: white;
}

header a:hover{
    opacity: 0.7;
    transition: 0.3s;
}

.burger-btn{
    display: none;
}

/* メイン全体 */
main{
    height: calc(100vh-120px);
}
/* main 背景画像ある箇所 */
.main-content{
    background-image: url("../images/kv-img.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 620px;
}

.main-content-title{
    box-sizing: content-boxs;
    color: white;
    text-align: center;
    padding-top: 225px;
    font-size: 30px;
}

.main-content-item{
    color: white;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

.main-content-bton{
    display: block;
    margin: 30px auto;
    padding: 8px;
    text-align: center;
    color: white;
    background-color: #FFA201;
    border-radius: 26px;
    width: 200px;
    cursor: pointer; /* マウスカーソルを「ポインター」にする */
}

.main-content-bton:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 24px #333333;
    transition: 0.4s;
}

.main-content-bton a {
    font-size: 19px;
    font-weight: bold;
}

/* about部分 */
section{
    color: #152A52;
}
.about-name{
    font-size: 30px;
    color: #152A52;
    text-align: center;
    margin: 80px 0px 50px;
    font-weight: bold;
}

.about-container{
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 80px;
    align-items: center;
}

.about-img{
    max-width: 380px;
    margin: 0 20px;
    /* margin-right: 20px; */
}

img{
    width: 100%;
    vertical-align: bottom;
}

.about-title{
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 34px;
    font-weight: bold;
}

.about-title-items{
    font-size: 16px;
    line-height: 27px;
}

/* .service部分 */
.service{
    background-color: #F1F3FB;
    color: #152A52;
}

.service-title{
    font-size: 30px;
    text-align: center;
    padding: 80px 0px 50px;
}

.service-content{
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.service-contaner{
    max-width: 900px;
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;

    margin: 0 auto;
    padding-bottom: 80px;
}

.service-img{
    width: 100%;
    vertical-align: bottom;
    margin-right: 48px;
    background-color: white;
}

.service-comment {
    padding: 15px;
    font-size: 13px;
    line-height: 24px;
}

/* フッター */
.footer{
    background-color: #2C5EB7;
    text-align: center;
    height: 40px;
}

.footer-copy{
    color: white;
    padding-top: 10px;
}

/* スマホ用 */
@media screen and (max-width: 480px) {
    
    .header{
        height: 60px;
    }

    .rogo{
        font-size: 15px;
        padding: 20px 20px 10px;
        }

    /* ハンバーガーメニュー */
    .nav{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 200px;
        background-color: blueviolet;  
        /*   *flex-direction: column;
        justify-content: center;
        align-items: center;   /
    }

    .nav-content{
        text-align: center;
         margin:40px 0;
    }

    .nav-content a{
        text-decoration: none;
        font-size: 18px;
    }

    .burger-btn{
        /* ブロック要素 */
        display: block;
        width: 30px;
        height: 24px;
        position: relative;
        margin-right: 10px;

    }

    .bar{
        display: block;
        width: 100%;
        height: 3px;
        border-radius: 1px;
        background-color: #ffffff;
        position: absolute;
        z-index: 9;
    }

    .bar_top{
        top:0;
    }

    .bar_middle{
        top: 11px;
    }

    .bar_bottom{
        bottom: 0px
    }

    .burger-btn.cross .bar_top{
        transform: rotate(45deg);
        top: 11px;
        transition: 3s;
    }

    .burger-btn.cross .bar_middle{
        opacity: 0;
        transition: 3s;
    }

    .burger-btn.cross .bar_bottom{
        transform: rotate(-45deg);
        bottom: 11px;
        transition: 3s;
    }
    /* ハンバガーメニューここまでｓ */

    .main-content{
        height: 450px;
    }

    .main-content-title{
        text-align: left;
        font-size: 24px;
        padding: 108px 25px 0px;
    }

    .main-content-item {
        font-size: 16px;
        text-align: left;
        margin-top: 10px;
        padding: 0 25px;
    }

    .main-content-bton{
        margin: 40px auto;
    }

    
    .about-container{
        display: block;
        margin: 0 15px;
    }

    .about-title{
        font-size: 18px;
        margin: 40px 15px 30px;
    }

    .service-contaner{
        display: block;
        margin: 0 15px;
    }
}