/* ヘッダー周り */

header {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  max-width: none;
  float: none;
  /* max-width:100vw */
}

.header {
  font-family: "brandon-grotesque", "sans-serif";
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85px;
  padding: 0 20px;
  background-color: rgba(26, 192, 232, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header__block {
  display: flex; 
  align-items: center; 
  padding: 27px 0; 

}

.header__block li {
  margin-right: 48px;
}

.header__block li a {
  display: block;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 1.2px;
}

.header__block li a:last-child {
  margin-right: 0px;
}

.header__btn {
  padding: 10px 20px;
  border: solid 1px #ffffff;
  border-radius: 3px;
}

.header__btn a {
  display: block;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 1.2px;
}

/* キービジュアル周り */
.keyvisual {
  font-family: "brandon-grotesque", "sans-serif";
  padding: 200px 0 150px;
  background-color: rgba(26, 192, 232, 0.8);
}

.keyvisual__title {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 44px;
  font-weight: bold;
  letter-spacing: 2.5px;
  text-align: center;
}

.keyvisual__desc {
  margin-bottom: 80px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.8px;
  text-align: center;
}

.keyvisual__scrollBtn {
  position: absolute;
  left: 50%;
  overflow: hidden;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.88);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.keyvisual__scrollBtn::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  content: '';
  opacity: 0;
  border-radius: 30px;
  background-color: #ffffff;
}

.keyvisual__scrollBtn::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  content: '';
  background: no-repeat center/100% url("../img/icon_scrollBtn.svg");
}

/* セクション周り */
.section {
  padding: 60px 0 70px;
  background-color: #f3f7f8;
}

.section__title {
  position: relative;
  margin-bottom: 39px;
  color: #37c4de;
  font-size: 16px;
  text-align: center;
}

.section__title::before {
  position: absolute;
  bottom: -35%;
  width: 6px;
  height: 6px;
  margin-left: 5px;
  content: '';
  border-radius: 3px;
  background-color: #37c4de;
}

.section__title::after {
  position: absolute;
  bottom: -35%;
  width: 6px;
  height: 6px;
  margin-left: -10px;
  content: '';
  border-radius: 3px;
  background-color: #37c4de;
}

.section__heading {
  margin-bottom: 39px;
  color: #37c4de;
  font-size: 29px;
  text-align: center;
}

.section__desc {
  margin-bottom: 62px;
  font-size: 15px;
  line-height: 1.8;
  text-align: center;
}

.section__btnWrapper {
  text-align: center;
}

.section__btn {
  display: inline-block;
  padding: 10px 45px;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  background-color: #30b6cf;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
}

/* サービス紹介周り */
.service {
  display: flex;
  align-items: center;
  margin: 0 auto 46px;
  width: 1100px;
}

.serviceItem {
  width: 295px;
  text-align: center;
}

.serviceItem img {
  width: 160px;
  height: 160px;
  margin-bottom: 27px;
  text-align: center;
}

.serviceItem__title {
  margin-bottom: 14px;
  font-size: 21px;
}

.serviceItem__text {
  color: #a1abae;
  font-size: 13px;
  line-height: 2;
}

/* 事例紹介周り */
.works {
  padding-top: 60px;
}

.works__block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.worksItem {
  display: block;
  text-decoration: none;
}

.worksItem img {
  display: block;
  width: 100%;
}

.worksItem__block {
  padding: 20px 10px 10px;
  text-align: center;
}

.worksItem__desc {
  margin-bottom: 8px;
  color: #000000;
  font-size: 14px;
}

.worksItem__title {
  margin-bottom: 8px;
  color: #000000;
  font-size: 22px;
}

.worksItem__category {
  margin-bottom: 8px;
  color: #727f89;
  font-size: 12px;
}

/* クライアント紹介周り */
.clients {
  padding: 60px 0;
}

.clients__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1100px;
  margin: 0 auto 81px;
  padding-top: 25px;
}

.clients__block li {
  width: 25%;
  list-style: none;
}

.clients__block li img {
  display: block;
  width: 100%;
}

/* ニュース周り */
.news {
  width: 70%;
  margin: 0 auto;
}

.news__block {
  display: flex;
  justify-content: space-between;
}

.news__block:not(:last-child) {
  margin-bottom: 30px;
}

.news a {
  display: block;
  flex: 1;
  color: #333333;
  font-size: 14px;
  text-decoration: none;
}

.news a time {
  margin-right: 30px;
  color: #8b959b;
}

/* コンタクト周り */
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0 100px;
  background: center/cover no-repeat url("../img/contact.jpg"), #eee 35% url("../img/contact.jpg");
}

.contactItem {
  width: 500px;
  text-align: center;
}

.contactItem__category {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 16px;
}

.contactItem__title {
  margin-bottom: 35px;
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
}

.contactItem__btn {
  display: block;
  width: 240px;
  margin: 0 auto;
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: solid 2px #ffffff;
  border-radius: 100px;
}

/* フッター周り */
.footer {
  font-family: brandon-grotesque, sans-serif;
  position: relative;
  border-bottom: 1px solid #ebf0f1;
}

.footer__scrollBtn {
  position: absolute;
  z-index: 800;
  top: -30px;
  right: 60px;
}

.footer__scrollBtn a {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(74, 201, 225, 0.9);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.footer__scrollBtn a::before {
  position: relative;
  display: block;
  top: 26px;
  right: -22px;
  width: 16px;
  height: 16px;
  content: '';
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}

.footer__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1240px;
  margin: 0 auto;
}

.footer__navBlock {
  display: flex;
  padding: 50px 40px;
}

.footer__navBlock li {
  margin-right: 30px;
}

.footer__navBlock li a {
  display: block;
  color: #8c9597;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 1.8px;
}

.footer__navBlock li a:last-child {
  margin-right: none;
}

.footer__snsBlock {
  display: flex;
  padding: 50px 0;
}

.footer__snsBlock li {
  margin-right: 30px;
}

.footer__snsBlock li a {
  display: block;
  color: #8c9597;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 1.8px;
}

.footer__snsBlock li a:last-child {
  margin-right: none;
}

/* プライバシーポリシー周り */
.privacyPolicy {
  font-family: "brandon-grotesque", "sans-serif";
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1240px;
  margin: 0 auto;
  padding: 34px 20px 54px;
  color: #8c9597;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.2px;
}

.privacyPolicy a {
  color: #8c9597;
  text-decoration: none;
}

/* SP対応 */
@media screen and (max-width: 480px) {
  .header__block{
    /* 表示を消す */
    display: none;
    flex-wrap: wrap;

  }

  header li {
    width: 100%;
    text-align: center;
    margin-bottom: 10px; /* リスト項目の下部のマージン */
  }

  .header{
    height: 60px;
  }

  .keyvisual{
    padding: 200px 20px 180px;
  }

  .keyvisual__title{
    font-size: 25px;
  }

  .keyvisual__desc {
    font-size: 12px;
    padding: 0 10px;
  }

  .service{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .section__title{
    font-size: 30px;
    padding: 0px 20px;
  }

  .section__heading{
    font-size: 24px;
 
  }
 .section__desc{
    font-size: 20px;
 }

 .works__block{
  display: flex;
  flex-direction: column;
  /* width: 100%; */
 }

 .worksItem{
  padding: 0 30px;
 }

 .clients__block{
  width: 100%;
  margin-bottom: 50px;
 }

 .clients__block li{
  width: 50%;
  margin-top: 50px;
}

.clients {
  padding: 50px 20px 60px;
}

.news{
  width: 100%;
}

.news__block{
  display: block;
}

.news a{
  position: relative;
  display: block;
  padding-left: 120px;
  line-height: 1.5;
  font-size: 12px;

}

.news a time{
  position: absolute;
  display: block;
  padding-left: 20px;
  top:0;
  left: 0;
  color: #8b959b;
}

.contact{
  flex-direction: column;
  width: 100%;
  padding: 50px 10px;
}

.contactItem{
  margin-top: 50px;
}

.contactItem__title{
  font-size: 15px;
}
.contactItem__btn{
  width: 180px;
  font-size: 15px;
}

.footer__navBlock,.footer__snsBlock,.privacyPolicy{
  flex-direction: column;
}

.footer__nav{
  justify-content: center;
}


}
